.container-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px; /* Adiciona espaço entre os itens */
  width: 80%;
  margin: 10px auto;
  height: 100vh;
}


.div-pokemoncard {
  width: 200px;
  height: 350px;
  transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave ao efeito */
  margin: 10px auto; /* Corrigido para centralizar */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  position: relative;
  font-family: 'Arial', sans-serif;

}


.div-pokemoncard:hover {
  transform: scale(1.1); /* Escala o elemento ao passar o mouse para um efeito de destaque */
}

.card-image img {

  height: auto;
  border-bottom: 2px solid #ddd;
}


/* Estilização input */
/* Adicione estilos para os radio buttons e labels */

.options {
    display: flex;
    align-items: center; /* Centraliza os elementos horizontalmente */
    justify-content: center;
    flex-wrap: wrap;

  }

.options > div{
  margin: 0 15px;

}
  
  .radio-options {
    display: flex;
    margin-bottom: 10px; /* Adiciona espaço entre os radio buttons e o botão */
  }
  
  /* Adicione estilos para os radio buttons e labels (conforme fornecido anteriormente) */
  
  button {
    padding: 10px 20px;
    font-size: 16px;

    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
  }
  

  
  

input[type="radio"] {
    display: none; /* Esconder o input padrão */
  }
  
  label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px auto;
  }
  
  /* Adicionar estilos para quando o radio button estiver marcado */
  
  input[type="radio"]:checked + label {
    background-color: #2980b9;
  }
  
  .btn-open-dex {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn-open-dex:hover {
    background: #0056b3;
  }